<div class="page-content">
	<h3>There are (x)number of riders that need a ride from fromLocation to toLocation.</h3>
	<div id="trip-list"></div>
		<!-- client-side trip list -->
		<!-- TODO: we are going to filter these by relevance later -->
		<script id="trip-template" type="text/x-handlebars-template">
		<!-- Shows Logged in user info -->
				<h3>Welcome, \{{driver.name}} </h3>
					<img class="avatar-image" src="\{{driver.imageUrl}}">
					<p class="trip-attribute">Email: \{{driver.email}}</p>
				<p>\{{trips.length}}<p>
				<h1>Trip record </h1>
			\{{#each trips}}
				<div id="\{{_id}}" class="trip trip-card">
					<p class="trip-attribute">\{{fromLocation}}</p>
					<p class="trip-attribute">\{{toLocation}}</p>
					<p class="trip-attribute">\{{_id}}</p>
					<p class="trip-attribute">\{{thumbs}}</p>
					<a href="/trips/\{{_id}}" class="btn">Pick up \{{name}}</a>
				</div>
			\{{/each}}
		<!-- logged in userInfo ends here -->
		</script>

</div>
<script>
	var currentUser = {{{users}}}[0];
	hitcher.renderTrips(currentUser);
</script>
