<!-- Driver and Rider Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Current Trip</h2>
                 
                    <div id="trip-show"></div>
                    <script id="show-trip" type="text/x-handlebars-template">
                    <h3 class="trip-attribute section-subheading text-muted">You're riding together from zip \{{trips.fromLocation}} to zip \{{trips.toLocation}}</p>

						<div id="\{{trips._id}}" class="trip trip-card">

							<h4 id="driver-info"><img class="user img-responsive img-circle" src="\{{driver.imageUrl}}">Driver: \{{driver.name}}</h4>
							<!-- <p class="trip-attribute text-muted">RIDER:</p> -->
							<h4 id="rider-info"><img class="user img-responsive img-circle" src="\{{rider.imageUrl}}">Rider: \{{rider.name}}</h4>
						
						</div>

					</script>
                </div>
            </div>
        </div>
    </section>
<!-- End Driver and Rider Section -->

<!-- Update Trip Section -->

<section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Update Trip</h2>
						<ul class="trip-nav" id="not-matched-nav">
						    <li>
								<form onsubmit="hitcher.updateTrip(event)">
								  <select type="number" name="fromLocation" placeholder="From Zipcode" required>
								    <option value="94133">94133</option>
								    <option value="94129">94129</option>
								    <option value="94123">94123</option>
								    <option value="94111">94111</option>
								    <option value="94121">94121</option>
								    <option value="94118">94118</option>
								    <option value="94115">94115</option>
								    <option value="94109">94109</option>
								    <option value="94108">94108</option>
								    <option value="94104">94104</option>
								    <option value="94105">94105</option>
								    <option value="94131">94131</option>
								    <option value="94132">94132</option>
								    <option value="94122">94122</option>
								    <option value="94117">94117</option>
								    <option value="94102">94102</option>
								    <option value="94103">94103</option>
								    <option value="94158">94158</option>
								    <option value="94116">94116</option>
								    <option value="94114">94114</option>
								    <option value="94110">94110</option>
								    <option value="94107">94107</option>
								    <option value="94127">94127</option>
								    <option value="94124">94124</option>
								    <option value="94112">94112</option>
								    <option value="94134">94134</option>
								  </select>
								  <select type="number" name="toLocation" placeholder="To Zipcode" required>
								    <option value="94133">94133</option>
								    <option value="94129">94129</option>
								    <option value="94123">94123</option>
								    <option value="94111">94111</option>
								    <option value="94121">94121</option>
								    <option value="94118">94118</option>
								    <option value="94115">94115</option>
								    <option value="94109">94109</option>
								    <option value="94108">94108</option>
								    <option value="94104">94104</option>
								    <option value="94105">94105</option>
								    <option value="94131">94131</option>
								    <option value="94132">94132</option>
								    <option value="94122">94122</option>
								    <option value="94117">94117</option>
								    <option value="94102">94102</option>
								    <option value="94103">94103</option>
								    <option value="94158">94158</option>
								    <option value="94116">94116</option>
								    <option value="94114">94114</option>
								    <option value="94110">94110</option>
								    <option value="94107">94107</option>
								    <option value="94127">94127</option>
								    <option value="94124">94124</option>
								    <option value="94112">94112</option>
								    <option value="94134">94134</option>
								  </select>
								  <input class="btn" type="submit" value="Update">
								</form>
						    </li>
						    <li>
								<a href="/trips/new"><button class="btn btn-alt" onclick="hitcher.deleteTrip()">Delete</button></a>
						    </li>
						</ul>
						<hr> 
						<ul class="trip-nav" id="matched-nav">
						    <li>
						      	<a href="/arrived"><button class="btn here-btn">We're here!</button></a>
						    </li>
						</ul>

<script>hitcher.showTrip({{{trip}}}, {{{rider}}}, {{{driver}}})</script>
