<div class= "page-content">
	<h1>Current Trip</h1>
	<div id="trip-show"></div>
	<br>
	<script id="show-trip" type="text/x-handlebars-template">
			<div id="\{{trip._id}}" class="trip trip-card">
				<p class="trip-attribute">DRIVER ID: \{{trip.driverId}}</p>
				<p class="trip-attribute">RIDER ID: \{{trip.riderId}}</p>
				<p class="trip-attribute">FROM: \{{trip.fromLocation}}</p>
				<p class="trip-attribute">TO: \{{trip.toLocation}}</p>
			</div>
	</script>
		<button onsubmit="hitcher.endtrip">We're Here</button>	 
</div>
<script>hitcher.showTrip({{{trip}}})</script>